<div class="container">
  <h3>推荐商品</h3>
  <div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product1.png">
                <span class="price">$160.00</span>
              </div>
              <div class="product-post-content">
                <h5>炼钢用萤石矿</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product2.png">
                <span class="price">$1100.00</span>
              </div>
              <div class="product-post-content">
                <h5>稀土镁合金球化剂</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product3.png">
                <span class="price">$60.00</span>
              </div>
              <div class="product-post-content">
                <h5>钛铁包芯线</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product4.png">
                <span class="price">$55.00</span>
              </div>
              <div class="product-post-content">
                <h5>金属镁、纯镁、镁锭、镁块</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product5.png">
                <span class="price">$99.00</span>
              </div>
              <div class="product-post-content">
                <h5>现货供应电解铜 电镀专用电解铜</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product6.png">
                <span class="price">$30.00</span>
              </div>
              <div class="product-post-content">
                <h5>石墨电极碎 电极切削料</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product7.png">
                <span class="price">$60.00</span>
              </div>
              <div class="product-post-content">
                <h5>75#硅铁硅铁加工块孕育剂</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-post">
              <div class="product-post-gal">
                <img alt="" src="upload/product8.png">
                <span class="price">$55.00</span>
              </div>
              <div class="product-post-content">
                <h5>500目磷铁现货</h5>
                <ul class="product-list">
                  <li><a class="like" href="#"><i class="fa fa-heart"></i></a></li>
                  <li><a class="shop" href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a class="rev" href="#"><i class="fa fa-exchange"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic4" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic4" data-slide="next"></a>
  </div>
</div>
